# 서식지정, format 메서드4
* 문자열로만 입력해야하는 상황에서 같은 위치에 문자를 여러번 바꿔야할 떄 사용4
* 문자의 자릿수 맞춤, 위치 정렬에도 사용

## 1. 서식지정자 %d, %s, %f, %길이s

### 1) 문자를 입력할때 %s (str의 약자), string)

In [7]:
print("이 수업의 이름은 %s 입니다." % "국어")

이 수업의 이름은 국어 입니다.

In [8]:
print("이 수업의 이름은 %s 입니다." % 3) # s 자리에 무엇이든 문자처리됨. 다른 함수는 그것만 써야함

이 수업의 이름은 3 입니다.

In [3]:
for i in ["국어","수학","사회","영어"]:
    print("이 수업의 이름은 %s 입니다." % i)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

### 정수를 입력할 때 %d

In [10]:
print("올해는 %d년 입니다." % 2025 )

올해는 2025년 입니다.

In [12]:
print("올해는 %d년 입니다." % 2025.55 ) #실수를 넣으면 실수변환됨

올해는 2025년 입니다.

### 실수를 입력할 때 %f 기본소수점 6자리로 표시

In [13]:
print("사람의 정상체온은 약 %f도 입니다." % 36.5)

사람의 정상체온은 약 36.500000도 입니다.

* 소수점 표기를 조절할 때 %.소숫점 자릿수f ex)%2f

In [15]:
print("사람의 정상체온은 약 %.1f도 입니다." % 36.5)

사람의 정상체온은 약 36.5도 입니다.

### 4) 서식지정잘로 문자열 길이, 정렬 %길이s

In [19]:
print("%10s" % "10자리")

      10자리

In [23]:
print("%1s" % "01")

01

In [24]:
print(150000)
print(15000)

150000
15000

In [25]:
print("가격은 %10d 입니다" % 150000)
print("가격은 %10d 입니다" % 15000)

가격은     150000 입니다
가격은      15000 입니다

### 5) 여러 항목 동시에 넣기

In [29]:
print("오늘은 %4d년 %2d월 %2d일 입니다." % (2025, 3, 17)) #튜플로 묶어야 처리가 된다.

오늘은 2025년  3월 17일 입니다.

In [30]:
a, b, c = (2025, 3, 17)
print(a,b,c)

2025 3 17

In [31]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000, 195000, 31900, 86600]

In [32]:
for com, st in zip(company, stock): 
    print("%s의 주가는 %d입니다." % (com, st))

삼성전자의 주가는 71800입니다.
LG전자의 주가는 121000입니다.
현대차의 주가는 195000입니다.
대한항공의 주가는 31900입니다.
하나투어의 주가는 86600입니다.

# 2. format 메서드 사용하기, f-string 문자열 포메팅

### 1) format 메서드 사용하기
* "문자열 {인덱스} "문자끝열" .format(값)

In [33]:
print("{}의 주가는 {}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 71800입니다.

In [34]:
print("{0}의 주가는 {1}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 71800입니다.

In [35]:
print("{1}의 주가는 {0}입니다.".format('삼성전자', 71800))

71800의 주가는 삼성전자입니다.

In [41]:
print("{}의 주가는 {}원입니다. \n{}의 상한가는 {}\n{}의 하한가는 {}입니다.".format("삼성전자", 71500, 50200, 93000)

SyntaxError: unexpected EOF while parsing (1226160576.py, line 1)

In [40]:
print("{0}의 주가는 {1}원입니다. \n{0}의 상한가는 {3}\n{0}의 하한가는 {2}입니다.".format("삼성전자", 71500, 50200, 93000))

삼성전자의 주가는 71500원입니다.
삼성전자의 상한가는 93000
삼성전자의 하한가는 50200입니다.

### f-string으로 값넣기 (python3.6 부터???사용가능)

In [42]:
company

['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']