# 서식지정, format 메서드4
* 문자열로만 입력해야하는 상황에서 같은 위치에 문자를 여러번 바꿔야할 떄 사용4
* 문자의 자릿수 맞춤, 위치 정렬에도 사용

## 1. 서식지정자 %d, %s, %f, %길이s

### 1) 문자를 입력할때 %s (str의 약자), string)

In [21]:
print("이 수업의 이름은 %s 입니다." % "국어")

이 수업의 이름은 국어 입니다.

In [22]:
print("이 수업의 이름은 %s 입니다." % 3) # s 자리에 무엇이든 문자처리됨. 다른 함수는 그것만 써야함

이 수업의 이름은 3 입니다.

In [23]:
for i in ["국어","수학","사회","영어"]:
    print("이 수업의 이름은 %s 입니다." % i)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 사회 입니다.
이 수업의 이름은 영어 입니다.

### 정수를 입력할 때 %d

In [24]:
print("올해는 %d년 입니다." % 2025 )

올해는 2025년 입니다.

In [25]:
print("올해는 %d년 입니다." % 2025.55 ) #실수를 넣으면 실수변환됨

올해는 2025년 입니다.

### 실수를 입력할 때 %f 기본소수점 6자리로 표시

In [26]:
print("사람의 정상체온은 약 %f도 입니다." % 36.5)

사람의 정상체온은 약 36.500000도 입니다.

* 소수점 표기를 조절할 때 %.소숫점 자릿수f ex)%2f

In [27]:
print("사람의 정상체온은 약 %.1f도 입니다." % 36.5)

사람의 정상체온은 약 36.5도 입니다.

### 4) 서식지정잘로 문자열 길이, 정렬 %길이s

In [28]:
print("%10s" % "10자리")

      10자리

In [29]:
print("%1s" % "01")

01

In [2]:
'%3s' % "01"

' 01'

In [30]:
print(150000)
print(15000)

150000
15000

In [31]:
print("가격은 %10d 입니다" % 150000)
print("가격은 %10d 입니다" % 15000)

가격은     150000 입니다
가격은      15000 입니다

### 5) 여러 항목 동시에 넣기

In [3]:
print("오늘은 %4s년 %2d월 %2d일 입니다." % ('2025', 3, 17)) #튜플로 묶어야 처리가 된다.

오늘은 2025년  3월 17일 입니다.

In [33]:
a, b, c = (2025, 3, 17)
print(a,b,c)

2025 3 17

In [16]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000, 195000, 31900, 86600]

In [17]:
for com, st in zip(company, stock): 
    print("%s의 주가는 %d입니다." % (com, st))

삼성전자의 주가는 71800입니다.
LG전자의 주가는 121000입니다.
현대차의 주가는 195000입니다.
대한항공의 주가는 31900입니다.
하나투어의 주가는 86600입니다.

# 2. format 메서드 사용하기, f-string 문자열 포메팅

### 1) format 메서드 사용하기 : 위치 지정, 같은 단어를 여러번 반복해야할 떄
* "문자열 {인덱스} "문자끝열" .format(값)

In [18]:
print("{}의 주가는 {}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 71800입니다.

In [19]:
print("{0}의 주가는 {1}입니다.".format('삼성전자', 71800))

삼성전자의 주가는 71800입니다.

In [20]:
print("{1}의 주가는 {0}입니다.".format('삼성전자', 71800))

71800의 주가는 삼성전자입니다.

In [21]:
print("{}의 주가는 {}원입니다. \n{}의 상한가는 {}\n{}의 하한가는 {}입니다.".format("삼성전자", 71500, 50200, 93000))

IndexError: Replacement index 4 out of range for positional args tuple

In [22]:
print("{0}의 주가는 {1}원입니다. \n{0}의 상한가는 {3}\n{0}의 하한가는 {2}입니다.".format("삼성전자", 71500, 50200, 93000))

삼성전자의 주가는 71500원입니다.
삼성전자의 상한가는 93000
삼성전자의 하한가는 50200입니다.

### f-string으로 값넣기 (python3.6 부터???사용가능)

In [23]:
company

['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']

In [24]:
stock

[71800, 121000, 195000, 31900, 86600]

In [25]:
print(f"{company[0]}의 주가는 {stock[0]} 입니다.")

삼성전자의 주가는 71800 입니다.

In [26]:
sam = "삼성전자"
sto = 71800
print(f"{sam}의 주가는 {sto} 입니다.")

삼성전자의 주가는 71800 입니다.

In [27]:
for com, sto in zip(company, stock):
    print(f"{com}의 주가는 {sto}원 입니다. ")

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 121000원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

In [34]:
for com, sto in zip(company, stock):
    print(f"{%s}의 주가는 {%d}원 입니다." % (com, sto))

SyntaxError: f-string: invalid syntax (1606234353.py, line 2)

# 3. format 메서드와 f-string으로 문자열 정렬하기, 자릿수 지정해 출력하기

* "{인덱스:<길이}".format(값)
* f"{"값":"길이"}

<10공간을 10칸 확보하고 글자를 왼쪽 정렬

In [11]:
"{0:<10}".format("삼성전자") # <,>는 정렬을 뜻함

'삼성전자      '

In [10]:
"{0:>10}".format("삼성전자")

'      삼성전자'

In [35]:
"%10s" % "삼성전자"

'      삼성전자'

In [36]:
f"{'삼성전자':<10}" # 안에 있는 문자열은 '바깥'과 다르게 써야함

'삼성전자      '

In [37]:
f"{'삼성전자':>10}"

'      삼성전자'

* 숫자 표기시 숫자 자리수 맞추고 기본 값 지정하기
* "{인덱스:채울숫자 길이 서식지정자}".format(값), 단, 서식지정자에서 %는 뺴고 적는다. 
* f"{값: 채울 숫자 길이 서식지정(채워줄 숫자+글자개수+형식(s,d,f}" %는 뺌

In [38]:
print("{0}월".format(1))

1월

In [43]:
print("{0:02d}월".format(1))

01월

In [40]:
print("{0:03d}일".format(1))

001일

In [41]:
print(f"{1:02d}월")

01월

* 실수의 정수자리수와 소수점 자릿수 지정하기
* ( "{인덱스:기본값 자리수 서식지정자}".format(값)
* f"{값:기본값 자리수 서식지정자}"
* 실수에서 자리수는 정수((정수지만 정수, 소수점 둘다 포함) +.+소숫점

In [59]:
print("{0:03.3f}".format(2.245678))

2.246

In [46]:
print("{0:06.3f}".format(2.245678))

02.246

In [47]:
print("{0:01.3f}".format(2.245678))

2.246

In [48]:
print("{0:010.3f}".format(2.245678))

000002.246

In [49]:
print("{0:010.7f}".format(2.245678))

02.2456780

00시 01분부터 11시 59분까지 출력하세요. 1자리는 01형식으로 출력하세요.

In [51]:
import time
for si in range(0,12):
    for bun in range(0,60):
        print(f"{si:02d}시 {bun:02d}분", end="\r")
        time.sleep(0.002)

* 공백을 원하는 문자로 채우고 자리수 맞추는
* {인덱스: 원하는 숫자/문자 ><자리수}.format(값)
* f"{값:원하는 숫자/문자 >< 자리수}""

In [64]:
"{0:*>4}".format("달러")

'**달러'

In [48]:
f"{'달러':$<10}"

'달러$$$$$$$$'

In [49]:
f"{'달러':$>10}"

'$$$$$$$$달러'

In [53]:
url="https://finance.naver.com/sise/sise_trans_style.naver?sosok="

In [58]:
url+'03'

'https://finance.naver.com/sise/sise_trans_style.naver?sosok=03'

In [57]:
for i in range(1,11):
    print(f"{url}{i:02d}")

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10