1.**빈 리스트 `numbers`를 생성하고 출력하세요.**  
   ```python
   []
   ```

In [71]:
number = []
print(number)

[]

2.**`'numbers'`에 1,2,3,4,5 를 추가하고 출력하세요.**
```python
[1,2,3,4,5]
```

In [72]:
number.extend([1,2,3,4,5])
print(number)

[1, 2, 3, 4, 5]

3.**리스트 `numbers`에 숫자 `6`을 추가하고 출력하세요.**  
   ```python
   [1, 2, 3, 4, 5, 6]
   ```

In [73]:
number.append(6)
print(number)

[1, 2, 3, 4, 5, 6]

4.**`'numbers'` 에 자료 1,2,3,4,5 를 추가하세요. append가 아닌 다른 함수로 추가**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]
```

In [74]:
number.extend([1,2,3,4,5])
print(number)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

]5.**`'numbers'` 에 자료 1,2,3,4,5를 연산자를 이용해 추가하세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [75]:
number = number+[1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

6.**`'numbers'` 의 자료를 2배로 늘리세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [76]:
number = number*2

In [77]:
print(number)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

7. **리스트 `numbers`에서 두 번째 요소를 `99`로 변경하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [78]:
del number[1]

In [79]:
print(number)

[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [80]:
number.insert(1,99)

In [81]:
print(number)

[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

8. **리스트 `numbers`에서 마지막 요소를 제거하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [82]:
number.pop()

5

In [83]:
print(number)

[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]

9. **리스트 `numbers`에서 `99`를 삭제하고 출력하세요.**
```python
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [85]:
number.remove(99)

In [86]:
print(number)

[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]

10.**리스트 `numbers`에서 4번째 `4`의 인덱스를 출력하고 삭제하세요.**
```python
18
4
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [87]:
number[18]

4

In [88]:
del number[18]
print(number)

[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]

11.**리스트 `numbers`에서 `5`의 개수를 출력하세요.**
```python
5
```

In [89]:
number.count(5)

5

12. **complex_list 변수에 리스트 `[1, 2, 3, [4, 5, 6], (7, 8, "튜플")]`을 만들고 ``"튜플"`을 출력하세요.**  
```python
[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]
튜플
```

In [111]:
complex_list = [1, 2, 3, [4, 5, 6], (7, 8, "튜플")]

In [112]:
print(complex_list)

[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]

In [113]:
print(complex_list[4][2])

튜플

13. **`complex_list`의 모든 요소를 역순으로 출력하세요.**  
```python
[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]
```

In [114]:
complex_list[::-1]

[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]

14. **`complex_list`내의 [4,5,6] 리스트를 역순 정렬하고 출력하세요.**  
```python
[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]
```

In [115]:
# print(complex_list[3])
complex_list[3].sort(reverse=True)
print(complex_list)

[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]

15. **`complex_list`에서 '튜플'을 삭제하세요**
```python
[1, 2, 3, [6, 5, 4], [7, 8]]
```

In [116]:
complex_list[4] = list(complex_list[4])

In [117]:
complex_list[4].remove('튜플')
print(complex_list)

[1, 2, 3, [6, 5, 4], [7, 8]]

16.**변수 t에 튜플 `(10, 20, 30, 40, 50)`을 만들고 최대값과 최소값을 결과 형식에 맞게 출력하세요.**  
```python
(10, 20, 30, 40, 50)
최대값: 50 최솟값: 10
```

In [119]:
t = (10, 20, 30, 40, 50)
print(t)
print('최대값: ',max(t),'최솟값: ',min(t))

(10, 20, 30, 40, 50)
최대값:  50 최솟값:  10

17.**튜플 `t`에서 모든 요소의 합을 출력하세요.**  
```python
150
```

In [125]:
print(sum(t))

150

18.**튜플 `t`에서 두 번째 요소(20)을 `"Python"`으로 변경하고 출력하세요.**  
```python
(10, 'Python', 30, 40, 50)
```

In [130]:
t = list(t)
print(t)

[10, 20, 30, 40, 50]

In [131]:
t.insert("Python")
print(t)

TypeError: insert expected 2 arguments, got 1

19.**튜플 t에 1,2,3,4,5를 list로 변경 없이 추가하고 출력하세요**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [ ]:
t+(1,2,3,4,5)

20. **`'튜플 t'`의 요소를 2배로 늘리세요.**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5, 10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [ ]:
t*2