In [18]:
import pandas as pd
import numpy as np
import os

In [19]:
df = pd.read_csv("./data/한국국적을_가지지_않은_자외국인_근로자_남__20250624113941.csv")
df

,행정구역(시군구)별(1),2023,2023.1,2023.2,2023.3,2023.4,2023.5,2023.6,2023.7,2023.8,...,2023.31,2023.32,2023.33,2023.34,2023.35,2023.36,2023.37,2023.38,2023.39,2023.40
0,행정구역(시군구)별(1),합계,동북아시아,동북아시아,동북아시아,동북아시아,동북아시아,동북아시아,동남아시아,동남아시아,...,캐나다,유럽,유럽,유럽,유럽,유럽,오세아니아,중남미,아프리카,기타
1,행정구역(시군구)별(1),소계,소계,중국,중국(한국계),대만,일본,몽골,소계,베트남,...,소계,소계,러시아,러시아(한국계),영국,기타,소계,소계,소계,소계
2,합계,385539,58812,7948,46694,67,344,3759,204048,49126,...,677,2581,265,6,994,1316,310,337,1220,*
3,서울특별시,24375,17355,1590,15407,35,132,191,2591,465,...,212,1037,120,*,330,586,119,130,217,*
4,부산광역시,13346,731,368,292,9,13,49,9066,2591,...,52,137,24,*,72,40,14,13,67,*
5,대구광역시,7807,425,135,235,*,9,46,4450,1131,...,36,94,8,*,58,28,10,*,53,*
6,인천광역시,18443,2884,358,2263,*,7,254,10221,2036,...,34,130,10,*,39,81,26,5,65,*
7,광주광역시,5145,458,170,243,*,*,44,3160,528,...,14,59,*,*,20,37,7,*,31,*
8,대전광역시,2101,466,151,250,*,14,48,766,173,...,27,91,11,*,35,44,9,10,67,*
9,울산광역시,9388,788,91,579,*,*,116,5658,2015,...,7,43,7,*,17,19,*,9,29,*
10,세종특별자치시,1806,214,40,158,*,*,14,979,170,...,6,14,*,*,10,*,*,5,15,*
11,경기도,136649,25753,1779,21950,12,129,1883,67628,10718,...,141,527,60,*,183,282,56,92,335,*
12,강원특별자치도,5846,449,177,213,*,*,56,3642,1127,...,8,23,*,*,13,9,*,18,37,*
13,충청북도,19049,1498,141,1087,*,*,266,9296,1808,...,9,61,*,*,21,39,*,*,29,*
14,충청남도,30082,2579,355,2032,*,8,183,16897,4324,...,22,70,*,*,33,34,*,6,39,*
15,전라북도,11382,599,166,321,*,5,107,6271,1673,...,15,28,*,*,21,6,*,5,36,*
16,전라남도,23848,889,489,282,*,*,118,15295,5529,...,15,24,*,*,15,8,8,*,36,*
17,경상북도,24172,966,389,463,*,6,108,15490,5037,...,21,55,5,*,25,25,9,15,58,*
18,경상남도,43171,1497,585,712,*,*,195,27177,8333,...,31,88,5,*,33,49,11,8,69,*
19,제주특별자치도,8929,1261,964,207,*,5,81,5461,1468,...,27,100,5,*,69,26,21,10,37,*

In [20]:
df.columns = df.iloc[1]
df

1,행정구역(시군구)별(1),소계,소계,중국,중국(한국계),대만,일본,몽골,소계,베트남,...,소계,소계,러시아,러시아(한국계),영국,기타,소계,소계,소계,소계
0,행정구역(시군구)별(1),합계,동북아시아,동북아시아,동북아시아,동북아시아,동북아시아,동북아시아,동남아시아,동남아시아,...,캐나다,유럽,유럽,유럽,유럽,유럽,오세아니아,중남미,아프리카,기타
1,행정구역(시군구)별(1),소계,소계,중국,중국(한국계),대만,일본,몽골,소계,베트남,...,소계,소계,러시아,러시아(한국계),영국,기타,소계,소계,소계,소계
2,합계,385539,58812,7948,46694,67,344,3759,204048,49126,...,677,2581,265,6,994,1316,310,337,1220,*
3,서울특별시,24375,17355,1590,15407,35,132,191,2591,465,...,212,1037,120,*,330,586,119,130,217,*
4,부산광역시,13346,731,368,292,9,13,49,9066,2591,...,52,137,24,*,72,40,14,13,67,*
5,대구광역시,7807,425,135,235,*,9,46,4450,1131,...,36,94,8,*,58,28,10,*,53,*
6,인천광역시,18443,2884,358,2263,*,7,254,10221,2036,...,34,130,10,*,39,81,26,5,65,*
7,광주광역시,5145,458,170,243,*,*,44,3160,528,...,14,59,*,*,20,37,7,*,31,*
8,대전광역시,2101,466,151,250,*,14,48,766,173,...,27,91,11,*,35,44,9,10,67,*
9,울산광역시,9388,788,91,579,*,*,116,5658,2015,...,7,43,7,*,17,19,*,9,29,*
10,세종특별자치시,1806,214,40,158,*,*,14,979,170,...,6,14,*,*,10,*,*,5,15,*
11,경기도,136649,25753,1779,21950,12,129,1883,67628,10718,...,141,527,60,*,183,282,56,92,335,*
12,강원특별자치도,5846,449,177,213,*,*,56,3642,1127,...,8,23,*,*,13,9,*,18,37,*
13,충청북도,19049,1498,141,1087,*,*,266,9296,1808,...,9,61,*,*,21,39,*,*,29,*
14,충청남도,30082,2579,355,2032,*,8,183,16897,4324,...,22,70,*,*,33,34,*,6,39,*
15,전라북도,11382,599,166,321,*,5,107,6271,1673,...,15,28,*,*,21,6,*,5,36,*
16,전라남도,23848,889,489,282,*,*,118,15295,5529,...,15,24,*,*,15,8,8,*,36,*
17,경상북도,24172,966,389,463,*,6,108,15490,5037,...,21,55,5,*,25,25,9,15,58,*
18,경상남도,43171,1497,585,712,*,*,195,27177,8333,...,31,88,5,*,33,49,11,8,69,*
19,제주특별자치도,8929,1261,964,207,*,5,81,5461,1468,...,27,100,5,*,69,26,21,10,37,*

In [21]:
df = df.iloc[2:].reset_index(drop=True)
df

1,행정구역(시군구)별(1),소계,소계,중국,중국(한국계),대만,일본,몽골,소계,베트남,...,소계,소계,러시아,러시아(한국계),영국,기타,소계,소계,소계,소계
0,합계,385539,58812,7948,46694,67,344,3759,204048,49126,...,677,2581,265,6,994,1316,310,337,1220,*
1,서울특별시,24375,17355,1590,15407,35,132,191,2591,465,...,212,1037,120,*,330,586,119,130,217,*
2,부산광역시,13346,731,368,292,9,13,49,9066,2591,...,52,137,24,*,72,40,14,13,67,*
3,대구광역시,7807,425,135,235,*,9,46,4450,1131,...,36,94,8,*,58,28,10,*,53,*
4,인천광역시,18443,2884,358,2263,*,7,254,10221,2036,...,34,130,10,*,39,81,26,5,65,*
5,광주광역시,5145,458,170,243,*,*,44,3160,528,...,14,59,*,*,20,37,7,*,31,*
6,대전광역시,2101,466,151,250,*,14,48,766,173,...,27,91,11,*,35,44,9,10,67,*
7,울산광역시,9388,788,91,579,*,*,116,5658,2015,...,7,43,7,*,17,19,*,9,29,*
8,세종특별자치시,1806,214,40,158,*,*,14,979,170,...,6,14,*,*,10,*,*,5,15,*
9,경기도,136649,25753,1779,21950,12,129,1883,67628,10718,...,141,527,60,*,183,282,56,92,335,*
10,강원특별자치도,5846,449,177,213,*,*,56,3642,1127,...,8,23,*,*,13,9,*,18,37,*
11,충청북도,19049,1498,141,1087,*,*,266,9296,1808,...,9,61,*,*,21,39,*,*,29,*
12,충청남도,30082,2579,355,2032,*,8,183,16897,4324,...,22,70,*,*,33,34,*,6,39,*
13,전라북도,11382,599,166,321,*,5,107,6271,1673,...,15,28,*,*,21,6,*,5,36,*
14,전라남도,23848,889,489,282,*,*,118,15295,5529,...,15,24,*,*,15,8,8,*,36,*
15,경상북도,24172,966,389,463,*,6,108,15490,5037,...,21,55,5,*,25,25,9,15,58,*
16,경상남도,43171,1497,585,712,*,*,195,27177,8333,...,31,88,5,*,33,49,11,8,69,*
17,제주특별자치도,8929,1261,964,207,*,5,81,5461,1468,...,27,100,5,*,69,26,21,10,37,*

In [26]:

# 1) CSV 파일 불러오기 (인코딩은 파일에 맞게 조정)
file_path = './data/한국국적을_가지지_않은_자외국인_근로자_남__20250624113941.csv'
# 만약 utf-8-sig 로 읽어오지 못하면, encoding='cp949' 로 시도하세요.
df = pd.read_csv(file_path)
print(df)
# 2) 필요한 컬럼만 선택 (‘국적’과 ‘계’)
df_totals = df[['국적', '계']]
print(df)
# 3) 합계·소계·기타 등 요약 행 제거 (원하시는 행 이름을 추가로 제외할 수 있습니다)
exclude = ['합계', '소계', '기타']
df_totals = df_totals[~df_totals['국적'].isin(exclude)]

# 4) ‘계’ 기준 내림차순 정렬
df_sorted = df_totals.sort_values(by='계', ascending=False).reset_index(drop=True)

# 5) 결과 출력
print(df_sorted)

    행정구역(시군구)별(1)    2023 2023.1 2023.2   2023.3 2023.4 2023.5 2023.6  2023.7  \
0   행정구역(시군구)별(1)      합계  동북아시아  동북아시아    동북아시아  동북아시아  동북아시아  동북아시아   동남아시아
1   행정구역(시군구)별(1)      소계     소계     중국  중국(한국계)     대만     일본     몽골      소계
2              합계  385539  58812   7948    46694     67    344   3759  204048
3           서울특별시   24375  17355   1590    15407     35    132    191    2591
4           부산광역시   13346    731    368      292      9     13     49    9066
5           대구광역시    7807    425    135      235      *      9     46    4450
6           인천광역시   18443   2884    358     2263      *      7    254   10221
7           광주광역시    5145    458    170      243      *      *     44    3160
8           대전광역시    2101    466    151      250      *     14     48     766
9           울산광역시    9388    788     91      579      *      *    116    5658
10        세종특별자치시    1806    214     40      158      *      *     14     979
11            경기도  136649  25753   1779    21950     12    129   1883   67628
12        강원특별자치도    5846    449    177      213      *      *     56    3642
13           충청북도   19049   1498    141     1087      *      *    266    9296
14           충청남도   30082   2579    355     2032      *      8    183   16897
15           전라북도   11382    599    166      321      *      5    107    6271
16           전라남도   23848    889    489      282      *      *    118   15295
17           경상북도   24172    966    389      463      *      6    108   15490
18           경상남도   43171   1497    585      712      *      *    195   27177
19        제주특별자치도    8929   1261    964      207      *      5     81    5461

   2023.8  ... 2023.31 2023.32 2023.33   2023.34 2023.35 2023.36 2023.37  \
0   동남아시아  ...     캐나다      유럽      유럽        유럽      유럽      유럽   오세아니아
1     베트남  ...      소계      소계     러시아  러시아(한국계)      영국      기타      소계
2   49126  ...     677    2581     265         6     994    1316     310
3     465  ...     212    1037     120         *     330     586     119
4    2591  ...      52     137      24         *      72      40      14
5    1131  ...      36      94       8         *      58      28      10
6    2036  ...      34     130      10         *      39      81      26
7     528  ...      14      59       *         *      20      37       7
8     173  ...      27      91      11         *      35      44       9
9    2015  ...       7      43       7         *      17      19       *
10    170  ...       6      14       *         *      10       *       *
11  10718  ...     141     527      60         *     183     282      56
12   1127  ...       8      23       *         *      13       9       *
13   1808  ...       9      61       *         *      21      39       *
14   4324  ...      22      70       *         *      33      34       *
15   1673  ...      15      28       *         *      21       6       *
16   5529  ...      15      24       *         *      15       8       8
17   5037  ...      21      55       5         *      25      25       9
18   8333  ...      31      88       5         *      33      49      11
19   1468  ...      27     100       5         *      69      26      21

   2023.38 2023.39 2023.40
0      중남미    아프리카      기타
1       소계      소계      소계
2      337    1220       *
3      130     217       *
4       13      67       *
5        *      53       *
6        5      65       *
7        *      31       *
8       10      67       *
9        9      29       *
10       5      15       *
11      92     335       *
12      18      37       *
13       *      29       *
14       6      39       *
15       5      36       *
16       *      36       *
17      15      58       *
18       8      69       *
19      10      37       *

[20 rows x 42 columns]

KeyError: "None of [Index(['국적', '계'], dtype='object')] are in the [columns]"