# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소수점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형. 모든 자료형을 넣어 만들수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안되는 자료형, 모든 자료형을 넣을 수 있음
* dictionary(dict):value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음

# 데이터 타입을 출력하는 함수 type(변수)

# 정수형 변수(int)

In [1]:
a = 10
print(a)

10

In [2]:
aa = "10"
print(aa)

10

In [6]:
print(a, type(a))

10 <class 'int'>

In [7]:
print(aa, type(aa))

10 <class 'str'>

In [8]:
a = 3.14
print(a, type(a))

3.14 <class 'float'>

### 다른 언어는 int a = 3.01처럼 아얘 정의를 해준다
## 하지만 파이썬은 계속 바뀌고 마음대로 써줄 수 있음. 자료형을 고민할 필요가 없는게 장점이자 단점, 프로그램을 길게 쓰면 전제가 달라질수 있음
# 타입을 써주는 것이 매우 중요

# 실수형 변수 float

In [12]:
a =1
b = 3
f = 1.23
print(a+b)
print(a-b)
print(a*b)
print(a/b)

4
-2
3
0.3333333333333333

# 정수형 변수 +,-*,/ 실수형 변수
* 전부다 실수로 나온다

In [13]:
print(a + f)
print(a - f)
print(a * f)
print(a / f)

2.23
-0.22999999999999998
1.23
0.8130081300813008

In [15]:
a_plus_f = a+f
a_minus_f = a-f
a_mul_f = a*f
a_div_f = a/f
print("a_plus_f:", a_plus_f, type(a_plus_f) )
print("a_minus_f:", a_minus_f, type(a_minus_f) )
print("a_mul_f:", a_mul_f, type(a_mul_f))
print("a_div_f:", a_div_f, type(a_div_f))

a_plus_f: 2.23 <class 'float'>
a_minus_f: -0.22999999999999998 <class 'float'>
a_mul_f: 1.23 <class 'float'>
a_div_f: 0.8130081300813008 <class 'float'>

# 문자형 str

In [16]:
c = '문'
d = '자'
e = '열'

In [18]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
열 <class 'str'>

In [27]:
long_char = "문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안된다."

In [28]:
print(long_char)

문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안된다.

In [5]:
long_char2 = "문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안된다./줄바꿈을 하고 싶으면 \"\"\" \"\"\"안에 넣으면 된다"""

In [7]:
print(long_char2)

문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안된다./줄바꿈을 하고 싶으면 """ """안에 넣으면 된다

In [3]:
long_char3 = "문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. \
줄바꿈이 안된다. \
줄바꿈을 하고 싶으면 \
\"\"\" \"\"\"안에 넣으면 된다"

In [4]:
print(long_char3)

문자열은 아무리 길이가 길어도 한 줄로 되어 있어야 한다. 줄바꿈이 안된다. 줄바꿈을 하고 싶으면 """ """안에 넣으면 된다

In [42]:
long_char4 = """ 따옴표 세개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다
쌍따옴표 세개나 홀따옴표 세개로 감싸면 된다 """

In [47]:
print(long_char4)

 따옴표 세개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다
쌍따옴표 세개나 홀따옴표 세개로 감싸면 된다

In [48]:
long_char5 = '''따옴표 세개로 문자열을 감싸면
  줄바꿈을 해도 모두 그대로 출력이 된다
   쌍따옴표 세개나 홀따옴표 세개로 감싸면 된다'''

In [46]:
print(long_char5)

따옴표 세개로 문자열을 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다
쌍따옴표 세개나 홀따옴표 세개로 감싸면 된다

In [49]:
long_char5

'따옴표 세개로 문자열을 감싸면\n  줄바꿈을 해도 모두 그대로 출력이 된다\n   쌍따옴표 세개나 홀따옴표 세개로 감싸면 된다'

# 문자 덧셈 +, 문자 반복 *

In [51]:
c

'문'

In [52]:
d

'자'

문자 변수1 +문자변수2 = 문자가 합쳐짐

In [53]:
c+d

'문자'

In [54]:
e - c

TypeError: unsupported operand type(s) for -: 'str' and 'str'

빼기는 안됨

문자나 문자열을 반복하고 싶을 때 문자변수 * 숫자

In [55]:
e

'열'

In [56]:
e*3

'열열열'

In [58]:
print("="*20)
print(e)
print("="*20)

====================
열
====================

# 문자열은 순서가 있다. 
# 가장 앞글자가 0번 0번부터 순서대로 숫자가 증가
* 인덱싱 변수명 
* 슬라이싱: 변수명 [시작번호:끝번호+1] (인덱스는 뒤의 숫자 앞에꺼까지 가져오니 +1로 해야한다 
문자열, 튜플 리스트 다 가져올수 있음
* 나중에 더 자세히

In [60]:
len(long_char)

42

인덱싱 슬라이싱

In [61]:
long_char[0]

'문'

In [62]:
long_char[10]

'이'

In [65]:
long_char[41]

'.'

In [67]:
long_char[0:11]

'문자열은 아무리 길이'

# 리스트 list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플, 디셔너리] 모두 넣을 수 있는 자료형
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다. 
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제 가능

In [68]:
L=[1,2.0, "삼", [1,2,3], (4,5,6), {"key" : "value"}]

In [69]:
print(L)

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [70]:
type(L)

list

list는 순서가 있는 자료형

In [71]:
L[1]

2.0

In [72]:
L[2]

'삼'

In [73]:
L[0]

1

In [78]:
L[4], L[5]

((4, 5, 6), {'key': 'value'})

In [77]:
L[0:4]

[1, 2.0, '삼', [1, 2, 3]]

In [81]:
L[3][2]

3

In [9]:
L2 = [1,2,3, [4,5, [6,7,8, [9,10]]]]
# 중첩리스트
# 안쪽 포장 제외하고 1,2,3,포장 이렇게 계산됨

In [10]:
len(L2)

4

In [11]:
L2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [12]:
len(L2[3])

3

In [13]:
L2[3][2]

[6, 7, 8, [9, 10]]

In [14]:
L2[3][2][3]

[9, 10]

In [17]:
L2[3][2][3][0]

9

In [98]:
L2.append('append')
L2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]], 'append', 'append']

In [99]:
del L2[5]

In [100]:
L2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]], 'append']

# Tuple 튜플
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트보다 코드 실행시 더 빠르다.

In [21]:
t0 = (1)
print(t0, type(t0))
# 튜플형 자료가 아니라 int 형자료가 만들어지므로 반드시 , 를 만들어준다

1 <class 'int'>

In [19]:
t = (1,)

In [20]:
print(t,type(t))

(1,) <class 'tuple'>

In [105]:
t2 = (10, 334.5, "튜플", [1,2,3], (4,5,6), {"key":"value"})

In [106]:
print(t2)

(10, 334.5, '튜플', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [107]:
t2[4][1]

5

In [108]:
t2[3][0]

1

In [109]:
t2[0:4]

(10, 334.5, '튜플', [1, 2, 3])

In [111]:
t3 = (1,2,3, (4,5,6, [7,8,9,(10,11,12)]))

In [114]:
t3[3][3][3][1]

11

In [116]:
print("t3:",type(t3))
print("t3[3]:", type(t3[3]))
print("t3[3][3]", type(t3[3][3]))
print("t3[3][3][3]", type(t3[3][3][3]))
print("t3[3][3][3][1]", type(t3[3][3][3][1]))

t3: <class 'tuple'>
t3[3]: <class 'tuple'>
t3[3][3] <class 'list'>
t3[3][3][3] <class 'tuple'>
t3[3][3][3][1] <class 'int'>

In [118]:
t3.append("튜플2")
# 수정할 수 없다

AttributeError: 'tuple' object has no attribute 'append'

# 딕셔너리형(dict) JSON{"key":"value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 덱셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [119]:
dic1 = {'이름':'홍길동', '나이':33, '키':175.4, '가족':["둘리", "또치", "도우너"]}

In [120]:
print(dic1)

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}

In [121]:
dic1['이름']

'홍길동'

In [122]:
dic1["나이"]

33

In [123]:
len(dic1)

4

딕셔너리의 길이는 key의 갯수

In [124]:
dic2 = {'이름':'홍길동', '나이':33, '키':175.4, '가족':["둘리", "또치", "도우너",{'신장':[130,120,150]}]}

딕셔너리는 무조건 이름

In [127]:
dic2['가족'][3]

{'신장': [130, 120, 150]}

In [128]:
dic2['가족'][3]['신장'][1]

120

이름과 번호를 부르는 것이 중요

딕셔너리에 자료 추가

In [130]:
dic2['새 자료'] = (1,2,3)

In [131]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': ['둘리', '또치', '도우너', {'신장': [130, 120, 150]}],
 '새 자료': (1, 2, 3)}

In [132]:
del dic2['가족']

In [133]:
dic2

{'이름': '홍길동', '나이': 33, '키': 175.4, '새 자료': (1, 2, 3)}

In [26]:
dic3 = {'이름':['홍길동', '둘리', "또치"],
       '나이' : (33, 12, 14),
       '성별' : ('남', '남', '남'),
       '주소' : ['서울', '남극', '아프리카']}

In [27]:
dic3

{'이름': ['홍길동', '둘리', '또치'],
 '나이': (33, 12, 14),
 '성별': ('남', '남', '남'),
 '주소': ['서울', '남극', '아프리카']}

In [28]:
import pandas as pd

In [30]:
df = pd.DataFrame(dic3)
df['새자료']=[1,2,3]

In [31]:
df

    이름  나이 성별    주소  새자료
0  홍길동  33  남    서울    1
1   둘리  12  남    남극    2
2   또치  14  남  아프리카    3

# 형변환 함수
* 형변환: data type 다른 data type으로 전환

In [16]:
a=3
b='3'
c='eat'

In [17]:
print(a,b)

3 3

In [18]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

정수로 형변환 int()

In [19]:
a + int(b)

6

In [20]:
a + int(c)

ValueError: invalid literal for int() with base 10: 'eat'

* 실수로 변환 float()

In [21]:
a + float(b)

6.0

* 문자열로 변환 str()

In [22]:
str(a)+b

'33'

*리스트 형변환

In [23]:
t = (1,2,3,4)
print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

In [24]:
t2 = list(t)
print(t2,type(t))

[1, 2, 3, 4] <class 'list'>

* 튜플로 형변환

In [ ]:
t3 = (1,2,3,4)

In [ ]:
t3 = list(t3)
print(t3, type(t3))

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메세지")
* 입력받는 값은 ""으로구분해서 여러개를 받을 수 있음
* str 타입의 문자열로 받음

In [1]:
input_name = input("이름을 입력해 주세요")
print(input_name2)

이름을 입력해 주세요20

NameError: name 'input_name2' is not defined

In [2]:
data = input('숫자를 3개 입력해 주세요')
print(data, type(data))

숫자를 3개 입력해 주세요10,20,30
10,20,30 <class 'str'>

In [3]:
data

'10,20,30'

* input().split() 으로 여러 데이터를 list 형태로 받기

In [7]:
data = input('숫자를 3개 입력해 주세요').split()
print(data, type(data))

숫자를 3개 입력해 주세요10 20 30
['10', '20', '30'] <class 'list'>

In [9]:
int(data[0])+int(data[1])

30

In [12]:
a, b, c, d = input('숫자를 4개 입력해 주세요').split()
print(a,b,c,d, type(a),type(b),type(c),type(d))
# 다중 갯수 받기

숫자를 4개 입력해 주세요10 20 30 40
10 20 30 40 <class 'str'> <class 'str'> <class 'str'> <class 'str'>