# 리스트와 튜플 사용하기
* 일일히 자료 정의를 할 수 없어서 여러개의 자료를 한꺼번에 처리하기 위함

In [1]:
a =1
b =2
c = 3
d = 4
e = 5

In [2]:
l = [1,2, "파이싼", 3.0, [4,5,6], (7,8,"리스트"), True, False]
type(l)

list

# 리스트 만들기
* 대괄호 안에 자료를 나열해서 만듦
* 내용이 비어있는 리스트도 생성 가능 []
* 자료가 1개만 있는 리스트도 생성이 가능

In [15]:
ㅣ2=[]
print(ㅣ2, type(l2))

NameError: name 'l2' is not defined

In [10]:
l3 = [1]
print(l3, type(l3))

[1] <class 'list'>

# 리스트 형변환 함수 list()

In [16]:
type(range(1,10))

range

In [18]:
print(range(1,10))

range(1, 10)

In [19]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list((1,2,3,4))

[1, 2, 3, 4]

## 숫자를 생성해주는 range()
* range(시작번호, 끝번호+1, step)

In [21]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [22]:
list(range(4,100,4))

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

In [24]:
list(range(100,1,-4))

[100,
 96,
 92,
 88,
 84,
 80,
 76,
 72,
 68,
 64,
 60,
 56,
 52,
 48,
 44,
 40,
 36,
 32,
 28,
 24,
 20,
 16,
 12,
 8,
 4]

## 리스트에 자료 추가하기 .append()

In [27]:
l.append(3)
l

[1, 2, '파이싼', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False, 3, 3]

In [29]:
l.append(3.0)
l

[1, 2, '파이싼', 3.0, [4, 5, 6], (7, 8, '리스트'), True, False, 3, 3, 3.0, 3.0]

In [31]:
l.append('헤헿')
l

[1,
 2,
 '파이싼',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿']

In [32]:
l.append([4,5,6])

In [33]:
l

[1,
 2,
 '파이싼',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6]]

In [34]:
l.append((7,8,9))
l

[1,
 2,
 '파이싼',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9)]

In [35]:
l.append({dict:1234})
l

[1,
 2,
 '파이싼',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9),
 {dict: 1234}]

## 특정한 위치에 자료 추가 .insert
* .insert(넣을 위치앞 인덱스 번호 , 넣을 자료 )

In [38]:
# ㅇ니덱스 2번에 정수 3 넣기
l.insert(2,3)
l

[1,
 2,
 3,
 '파이싼',
 3.0,
 [4, 5, 6],
 (7, 8, '리스트'),
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9),
 {dict: 1234}]

## 리스트의 자료 삭제하기
* del 변수명 [인덱스 번호] : 해당 인덱스 번호의 자료 삭제
* pop(): 리스트의 가장 끝 자료가 출력되면서 삭제됨. 
* remove(값) : 리스트의 앞부터 일치하는 값 1개를 찾아서 삭제 중복된 자료가 있다면 앞
* 정수 실수 상관없이 지워진다.

In [42]:
del l[6]
l

[1,
 2,
 3,
 '파이싼',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9),
 {dict: 1234}]

In [44]:
del l[2]

In [45]:
l

[1,
 2,
 '파이싼',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9),
 {dict: 1234}]

In [46]:
l.pop()

{dict: 1234}

* Signature: l.pop(index=-1, /)
* Docstring:
* Remove and return item at index (default last).

In [47]:
l

[1,
 2,
 '파이싼',
 3.0,
 [4, 5, 6],
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9)]

In [49]:
l.remove(3)
l

[1,
 2,
 '파이싼',
 [4, 5, 6],
 True,
 False,
 3,
 3,
 3.0,
 3.0,
 '헤헿',
 '헤헿',
 [4, 5, 6],
 (7, 8, 9)]

In [53]:
l.remove(3) # 여러번 실행했더니 실수 3.0도 삭제됨
l

[1, 2, '파이싼', [4, 5, 6], True, False, '헤헿', '헤헿', [4, 5, 6], (7, 8, 9)]

## 리스트를 확장하기 .extend()
* 리스트에 자료를 추가하되, 요소만 추가
* append는 자료 자체가 추가

In [54]:
a = [1,2,3]
b = [4,5,6]

In [55]:
a.append(b)

In [56]:
a

[1, 2, 3, [4, 5, 6]]

In [57]:
len(a)

4

In [58]:
a[3][0]

4

In [60]:
a.insert(4,b)
a

[1, 2, 3, [4, 5, 6], [4, 5, 6]]

In [62]:
a.extend([7,8,9])
a

[1, 2, 3, [4, 5, 6], [4, 5, 6], 7, 8, 9]

In [63]:
c = [7,8,9]

In [64]:
b

[4, 5, 6]

In [65]:
c

[7, 8, 9]

In [66]:
b.extend(c)
b

[4, 5, 6, 7, 8, 9]

## list + list = .extend를 한 것과 동일하다.

In [67]:
b + c

[4, 5, 6, 7, 8, 9, 7, 8, 9]

## 리스트 안에서 원하는 값의 인덱스 찾기 
* in, not in: 리스트 안에 원하는 값이 있는지 확인
* 원하는 값이 있는 위치를 찾을 때 .index(찾을 값)
* 동일한 값이 여러개 있는 경우 가장 앞의 값을 변환
* 두번쨰 이상의 자료를 찾으려면 옵션에 시작인덱스를 지정하면 된다.
* .index(찾는 값, 시작 인덱스 번호)

In [68]:
a

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9]

In [69]:
a.index(4)

ValueError: 4 is not in list

In [70]:
a.index(3)

2

In [71]:
a[3].index(4)

0

근데 안에있는 걸 못찾으면 활용성이 덜어질거 같은데...

In [72]:
a.extend([1,2,3])
a

[1, 2, 3, [4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9], 7, 8, 9, 1, 2, 3]

In [73]:
a.index(3)

2

a에서 두번쨰 3을 찾으세요
* Signature: a.index(value, start=0, stop=9223372036854775807, /)
* Docstring:
* Return first index of value.

In [74]:
a.index(3, 3)

10

In [76]:
a.append("파이썬")
a

[1,
 2,
 3,
 [4, 5, 6, 7, 8, 9],
 [4, 5, 6, 7, 8, 9],
 7,
 8,
 9,
 1,
 2,
 3,
 '파이썬',
 '파이썬']

In [77]:
a.index("파이썬")

11

## 리스트 안에서 특정 값의 개수 구하기 .count(값)

In [78]:
a

[1,
 2,
 3,
 [4, 5, 6, 7, 8, 9],
 [4, 5, 6, 7, 8, 9],
 7,
 8,
 9,
 1,
 2,
 3,
 '파이썬',
 '파이썬']

In [79]:
a.count(4)

0

## 리스트 순서 뒤집기 .reverse()
* 실행즉시 원본 데이터가 변경 (재할당  x)

In [80]:
a

[1,
 2,
 3,
 [4, 5, 6, 7, 8, 9],
 [4, 5, 6, 7, 8, 9],
 7,
 8,
 9,
 1,
 2,
 3,
 '파이썬',
 '파이썬']

In [81]:
a.reverse()

In [82]:
a

['파이썬',
 '파이썬',
 3,
 2,
 1,
 9,
 8,
 7,
 [4, 5, 6, 7, 8, 9],
 [4, 5, 6, 7, 8, 9],
 3,
 2,
 1]

* 인덱싱으로 순서 뒤집기

In [85]:
a[::-1] # 리버스와 동일 효과, 원본 바꾸기 x

[1,
 2,
 3,
 [4, 5, 6, 7, 8, 9],
 [4, 5, 6, 7, 8, 9],
 7,
 8,
 9,
 1,
 2,
 3,
 '파이썬',
 '파이썬']

## 리스트 정렬. sort() 오름차순 .sort(reverse=True)내림차순
* 실행 즉시 원데이터를 바꿈

In [86]:
a = [1,3,4,5,6,7,2,8,6567,9]

In [87]:
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 6567]

In [92]:
a.sort(reverse=True)
a

[6567, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## sorted(리스트) 오름차순, sorted(리스트, reverse=True)내림차순
# 값 변화 없음

In [93]:
b = [32,42,3,4,5,671,2,4,3545,9]

In [95]:
sorted(b)

[2, 3, 4, 4, 5, 9, 32, 42, 671, 3545]

In [96]:
b

[32, 42, 3, 4, 5, 671, 2, 4, 3545, 9]

In [97]:
sorted(b, reverse=True)

[3545, 671, 42, 32, 9, 5, 4, 4, 3, 2]

In [98]:
b

[32, 42, 3, 4, 5, 671, 2, 4, 3545, 9]

# 튜플 tuple
* 튜플은 리스트처럼 모든 자료형을 넣어 만들수 있다. 
* 순서가 있는 자료형, 인덱스가 있다
* 인덱싱, 슬라이싱 가능
* 자료의 추가 삭제가 안됨
* ()안에 자료를 넣어서 만든다. 
* 튜플 형변환 함수는 tuple()
* 자료 1개만 넣어서 만들 수 있다. (1,) 형식이어야한다.
* 튜플 생성시 자료가 2개 이상인 경우()는 생략 가능.

In [99]:
t = (1,2,3)
t

(1, 2, 3)

In [100]:
t[0]

1

In [101]:
t.append()

AttributeError: 'tuple' object has no attribute 'append'

In [102]:
t2 = (4,5,6)

## 튜플 + 튜플 = 두개의 요소가 1개로 합쳐짐

In [103]:
t + t2

(1, 2, 3, 4, 5, 6)

In [104]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [105]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [106]:
t.insert(2, 3)

AttributeError: 'tuple' object has no attribute 'insert'

* list와 같이 특정 값의 인덱스를 찾는 것은 가능

In [107]:
t.index(2)

1

list와 같이 특정 값을 세는 것도 가능

In [108]:
t.count(1)

1

* 튜플에 자료를 추가하고 싶을 떄
* list로 형변환 후 다시 tuple로 형변환을 한다.

In [114]:
t

(1, 2, 3)

In [123]:
t=list(t)

In [124]:
t.extend([4,5,6])
t

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [130]:
t = tuple(t)
t

(1, 2, 3, 4, 5, 6, 4, 5, 6)

* 튜플에 자료를 1개만 넣고 만들고 싶을떄
* (자료, )

In [126]:
t3 = ("튜플")
print(t3,type(t3))

튜플 <class 'str'>

In [127]:
t4 = ("튜플",)
print(t4,type(t4))

('튜플',) <class 'tuple'>

* 괄호를 생락하고 튜플 만들기

In [128]:
t5 = "튜플", "괄호없이", "만들기", 222
print(t5, type(t5))

('튜플', '괄호없이', '만들기', 222) <class 'tuple'>

# 시퀀스 객체(자료형)
* 문자열, 리스트, 튜플 같은 순서가 있는 자료형 : 시퀀스 자료형
* 순서가 있고, 인덱스 번호가 부여되며 인덱싱, 슬라이싱이 가능
* 반복문에 시퀀스 자료형을 그대로 넣어서 반복시키는 것이 가능

* in, not in으로 특정값이 있는지 확인

In [131]:
t

(1, 2, 3, 4, 5, 6, 4, 5, 6)

In [132]:
9 in t

False

In [133]:
4 in t

True

In [ ]:
c = "시퀀스 자료형은 in"

In [ ]:
"지료" in c

In [ ]:
"확인" in c

In [134]:
list_01 = [1,2,3,4,5]
3 in list_01

True

* 시퀀스 객체는 + 연산자를 이용하여 서로 연결이 가능

In [135]:
"시퀀스" + "자료형"

'시퀀스자료형'

In [136]:
[1,2,3,4] + [5,6,7,8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [138]:
(1,2,3,4) + (5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

 시퀀스 객체 > 각 자료 속성(list 등 ..) 
 * 시퀀스 객체는 *로 반복 가능
 * 요소만 반복, 자료형 자체는 반복 x

In [139]:
"="*50

'=================================================='

In [141]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [142]:
(4,5,6)*3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [143]:
for i in "문자열은 반복문에서 사용가능":
    print(i)

문
자
열
은

반
복
문
에
서

사
용
가
능

In [145]:
t1 = (1,2,3,4,5)
for i t:
    print(i)

SyntaxError: invalid syntax (3539368319.py, line 2)

* 리스트, 튜플은 sum(), max(), min()과 같은 함수로 연산도 가능

In [147]:
sum(t)

36

In [149]:
max(t)

6

In [150]:
min(t)

1