# 반복문 for, while
* 반복문은 동일한 작업을 여러번 반복해야할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복횟수가 정해져있는 경우** 사용-> 시퀀스 자료형
* while은 반복 횟수가 정해져 있지 않을(무한반복) 때 사용 -> 무한반복을 시키되 특정조건을 만나면 멈추는

## for 반복문: 반복할 횟수가 정해져 있는 경우
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트 ,튜플, 딕셔너리): <br>
____(공백 4개)반복할 코드

In [1]:
#숫자 생성 함수 .range(시작,끝, step)

In [2]:
# for 문을 이용해서 숫자 1-10을 출력
for num in range(1,11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

* 순서가 있는 자료형(문자열, 리스트, 튜플) + 순서는 없지만 dict도 반복문에서 사용 가능

In [3]:
# 문자열 
for char in "파이썬은 문자열을 반복문에 넣어 출력가능":
    print(char, end="    ")

파    이    썬    은         문    자    열    을         반    복    문    에         넣    어         출    력    가    능

In [4]:
# 리스트
for l_item in [1,2,3,4,"사","오", [6,7,8],(8,9,10), {"key":"value"}]:
    print(l_item)

1
2
3
4
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [5]:
# 튜플
for t_item in (1,2,3,4,"사","오", [6,7,8],(8,9,10),{"key":"value"}):
    print(t_item)

1
2
3
4
사
오
[6, 7, 8]
(8, 9, 10)
{'key': 'value'}

In [6]:
d = dict(이름="홍길동", 나이=40, 주소="서울", 전화번호="010-1111-1111")

In [7]:
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-1111'}

In [8]:
for item in d:
    print(d.get(item, "key 없음"))

홍길동
40
서울
010-1111-1111

In [9]:
for key in d:
    print(d[key])

홍길동
40
서울
010-1111-1111

In [10]:
for item in d.keys():
    print(item)

이름
나이
주소
전화번호

In [11]:
for item in d.values():
    print(item)

홍길동
40
서울
010-1111-1111

In [12]:
for key, value in d.items(): # 이런 함수들이 있는 이유 : 반복문을 잘 돌리기 위해서. 자동화
    print(key,value)

이름 홍길동
나이 40
주소 서울
전화번호 010-1111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요
    * 1부터 10까지 숫자를 만들어서 반복문에 넣어야함
    * 1-10 더함
    * 누적덧셈을 한 결과를 출력

In [13]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [14]:
hap = 0
for num in range(1,11):
    hap = hap + num
    print(hap)

1
3
6
10
15
21
28
36
45
55

In [15]:
hap = 0
for num in range(1,11):
    hap = hap + num
print(hap) # print문 위치 주의

55

In [16]:
hap = 0
for num in range(1,11):
    print(f"hap: {hap} + num: {num}",end=": ")
    hap += num # hap = hap +num
    print(f"{hap}")

hap: 0 + num: 1: 1
hap: 1 + num: 2: 3
hap: 3 + num: 3: 6
hap: 6 + num: 4: 10
hap: 10 + num: 5: 15
hap: 15 + num: 6: 21
hap: 21 + num: 7: 28
hap: 28 + num: 8: 36
hap: 36 + num: 9: 45
hap: 45 + num: 10: 55

In [17]:
for num in range(1,11):
    hap = 0 # 중간에 하면 합을 초기화
    print(f"hap: {hap} + num: {num}",end=": ")
    hap += num # hap = hap +num
    print(f"{hap}")

hap: 0 + num: 1: 1
hap: 0 + num: 2: 2
hap: 0 + num: 3: 3
hap: 0 + num: 4: 4
hap: 0 + num: 5: 5
hap: 0 + num: 6: 6
hap: 0 + num: 7: 7
hap: 0 + num: 8: 8
hap: 0 + num: 9: 9
hap: 0 + num: 10: 10

* 1부터 50까지 수 중에서 짝수인 수의 합을 구하시오.
* 1-50 수를 만들기(range(1-51))
* 홀수, 짝수 구분 if, %2 == 0
* 짝수일 때 누적합, 결과 저장할 변수 hap
* 최종 결과 출력

In [18]:
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [19]:
hap = 0
for num in range(1,51):
    if num%2 == 0:
        print(f"hap:{hap}, num:{num}")
        hap += num
print(hap)

hap:0, num:2
hap:2, num:4
hap:6, num:6
hap:12, num:8
hap:20, num:10
hap:30, num:12
hap:42, num:14
hap:56, num:16
hap:72, num:18
hap:90, num:20
hap:110, num:22
hap:132, num:24
hap:156, num:26
hap:182, num:28
hap:210, num:30
hap:240, num:32
hap:272, num:34
hap:306, num:36
hap:342, num:38
hap:380, num:40
hap:420, num:42
hap:462, num:44
hap:506, num:46
hap:552, num:48
hap:600, num:50
650

* 1-100수를 만들고 그 중에서 30-70까지만 더해서 출력하세요
* 2가지 방법을 이용하여, if, 슬라이싱

In [20]:
for num2 in range(1,101):
    print(num2, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [21]:
hap = 0
for num2 in range(1,101):
    if 30 <= num2 <= 100:
        hap += num2
        print(f'합:{hap},num:{num2}')
print(hap)

합:30,num:30
합:61,num:31
합:93,num:32
합:126,num:33
합:160,num:34
합:195,num:35
합:231,num:36
합:268,num:37
합:306,num:38
합:345,num:39
합:385,num:40
합:426,num:41
합:468,num:42
합:511,num:43
합:555,num:44
합:600,num:45
합:646,num:46
합:693,num:47
합:741,num:48
합:790,num:49
합:840,num:50
합:891,num:51
합:943,num:52
합:996,num:53
합:1050,num:54
합:1105,num:55
합:1161,num:56
합:1218,num:57
합:1276,num:58
합:1335,num:59
합:1395,num:60
합:1456,num:61
합:1518,num:62
합:1581,num:63
합:1645,num:64
합:1710,num:65
합:1776,num:66
합:1843,num:67
합:1911,num:68
합:1980,num:69
합:2050,num:70
합:2121,num:71
합:2193,num:72
합:2266,num:73
합:2340,num:74
합:2415,num:75
합:2491,num:76
합:2568,num:77
합:2646,num:78
합:2725,num:79
합:2805,num:80
합:2886,num:81
합:2968,num:82
합:3051,num:83
합:3135,num:84
합:3220,num:85
합:3306,num:86
합:3393,num:87
합:3481,num:88
합:3570,num:89
합:3660,num:90
합:3751,num:91
합:3843,num:92
합:3936,num:93
합:4030,num:94
합:4125,num:95
합:4221,num:96
합:4318,num:97
합:4416,num:98
합:4515,num:99
합:4615,num:100
4615

In [22]:
hap = 0
for num2 in range(1,101):
    if 30 <= num2 <= 100:
        hap += num2
print(hap)

4615

In [23]:
num3 = list(range(1,101))
print(num3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [24]:
sum(num3[29:101])

4615

In [25]:
hap = 0
for num4 in range(1,101)[29:70]:
    print(f'hap:{hap}, num:{num4}')
    hap += num4
print(hap)

hap:0, num:30
hap:30, num:31
hap:61, num:32
hap:93, num:33
hap:126, num:34
hap:160, num:35
hap:195, num:36
hap:231, num:37
hap:268, num:38
hap:306, num:39
hap:345, num:40
hap:385, num:41
hap:426, num:42
hap:468, num:43
hap:511, num:44
hap:555, num:45
hap:600, num:46
hap:646, num:47
hap:693, num:48
hap:741, num:49
hap:790, num:50
hap:840, num:51
hap:891, num:52
hap:943, num:53
hap:996, num:54
hap:1050, num:55
hap:1105, num:56
hap:1161, num:57
hap:1218, num:58
hap:1276, num:59
hap:1335, num:60
hap:1395, num:61
hap:1456, num:62
hap:1518, num:63
hap:1581, num:64
hap:1645, num:65
hap:1710, num:66
hap:1776, num:67
hap:1843, num:68
hap:1911, num:69
hap:1980, num:70
2050

* 100-1까지 더하는 반복문을 만드세요
* range에서 역순으로 숫자 생성
* range에서 숫자생성 후 뒤집는 방법

In [26]:
hap = 0
for num5 in range(100,0,-1):
    print (num5, end=" ")
    hap += num5
print(hap)

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 5050

In [27]:
# 슬라이싱을 이용해서 순서뒤집기
hap = 0
for num5 in list(range(1,101)).sort(reverse=True):
    print(num5)
#     hap += num5
# print(hap)

TypeError: 'NoneType' object is not iterable

In [28]:
hap = 0
for num5 in range(1,101)[::-1]:
    print (num5, end=" ")
    hap += num5
print(hap)

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 5050

In [29]:
hap = 0
for num5 in reversed(range(1,101)):
    hap += num5
print(hap)

5050

# enumaerte() : 반복문에서 자료의 인덱스를 만들어주는 함수
* 인덱스 튜플 자료형으로 추출해줌

In [ ]:
s = "enumerate 함수는 반복문에서 index를 만들어 출력해주는 함수입니다."

In [ ]:
for i in s:
    print(i, end=" ")

In [ ]:
for i in enumerate(s):
    print(i)

In [ ]:
import time

In [ ]:
for idx, i in enumerate(s):
    print(f"현재반복횟수: {idx+1}/{len(s)}", end="\r")
    time.sleep(1)
#     print(idx,i)

In [ ]:
d = dict(이름="홍길동", 나이=30, 전화번호="010-1111-1111", 주소="서울")

In [ ]:
for idx, item in enumaerate()

## continue, break
* continue: 코드 실행을 건너뛰고 반복 계속 진행
* breakL: 특정 조건이 되었을때 반복문 정지

In [ ]:
for idx, i in enumerate(s):
#    print(f"현재반복횟수: {idx+1}/{len(s)}", end="\r")
    if idx %2 == 0:
        continue # 아래쪽 코드 실행 없이 다시 반복
    else:
        print(idx,i)
        if idx >= 19:
            break # 멈추도록 실행
    time.sleep(1)
#     print(idx,i)

# while : 반복한 횟수가 정해지지 않은 경우
* 무한반복 가능
* 무한반복이 되지 않도록 조건식을 잘 짜주는것이 중요

변수 선언 및 초기화
while 조건식: <br>
____반복할 코드 <br>
____변수 증가/감소 코드 <br>
____반복문이 종료될 조건 + break <br>

while 문으로 1-10까지 출력

In [30]:
i = 1
while i <= 10:
    print(i,end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

* 20에서 1까지 더한 숫자를 출력

In [31]:
i = 20
hap =0
while i >= 1:
    print(i,end=" ")
    hap += i
    i -= 1
print(hap)

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 210

* 1-50 까지의 수 중에서 3의배수이거나, 짝수인 수를 찾아서 더한 값을 출력하세요.

In [32]:
i2 = 1
hap = 0
while i2 < 50:
        i2 += 1
        print(f"i2: {i2}, hap:{hap}")

i2: 2, hap:0
i2: 3, hap:0
i2: 4, hap:0
i2: 5, hap:0
i2: 6, hap:0
i2: 7, hap:0
i2: 8, hap:0
i2: 9, hap:0
i2: 10, hap:0
i2: 11, hap:0
i2: 12, hap:0
i2: 13, hap:0
i2: 14, hap:0
i2: 15, hap:0
i2: 16, hap:0
i2: 17, hap:0
i2: 18, hap:0
i2: 19, hap:0
i2: 20, hap:0
i2: 21, hap:0
i2: 22, hap:0
i2: 23, hap:0
i2: 24, hap:0
i2: 25, hap:0
i2: 26, hap:0
i2: 27, hap:0
i2: 28, hap:0
i2: 29, hap:0
i2: 30, hap:0
i2: 31, hap:0
i2: 32, hap:0
i2: 33, hap:0
i2: 34, hap:0
i2: 35, hap:0
i2: 36, hap:0
i2: 37, hap:0
i2: 38, hap:0
i2: 39, hap:0
i2: 40, hap:0
i2: 41, hap:0
i2: 42, hap:0
i2: 43, hap:0
i2: 44, hap:0
i2: 45, hap:0
i2: 46, hap:0
i2: 47, hap:0
i2: 48, hap:0
i2: 49, hap:0
i2: 50, hap:0

In [33]:
i2 = 1
hap = 0
while i2 <= 50:
    if i2%3 == 0 or i2%2 == 0:
        print(f"i2: {i2}, hap:{hap}")
        hap += i2
    i2 += 1
print(hap)

i2: 2, hap:0
i2: 3, hap:2
i2: 4, hap:5
i2: 6, hap:9
i2: 8, hap:15
i2: 9, hap:23
i2: 10, hap:32
i2: 12, hap:42
i2: 14, hap:54
i2: 15, hap:68
i2: 16, hap:83
i2: 18, hap:99
i2: 20, hap:117
i2: 21, hap:137
i2: 22, hap:158
i2: 24, hap:180
i2: 26, hap:204
i2: 27, hap:230
i2: 28, hap:257
i2: 30, hap:285
i2: 32, hap:315
i2: 33, hap:347
i2: 34, hap:380
i2: 36, hap:414
i2: 38, hap:450
i2: 39, hap:488
i2: 40, hap:527
i2: 42, hap:567
i2: 44, hap:609
i2: 45, hap:653
i2: 46, hap:698
i2: 48, hap:744
i2: 50, hap:792
842

## While의 무한반복
* while 뒤의 조건이 True인 경우 무한반복
* while문 내에서 if 조건문으로 break를 걸어주어야 멈춤

In [ ]:
while True:
    print('무한반복',end=" ")

* 무한반복 후 while문 내에서 조건을 주어 멈추기

In [ ]:
i = 1
while True:
    print(i,'무한반복', end=" ")
    if i >= 100:
        break
    i += 1

# 무한반복이 되는 조건 : True
* True가 되는 경우: 1, 정수, 실수, 문자열, list, tuple, dict, True, " "
* False가 되는 경우: 0, 0.0, "",'',[],(),{}, False

In [34]:
i = 1
while " ":
    print(i,'무한반복', end=" ")
    if i >= 100:
        break
    i += 1

1 무한반복 2 무한반복 3 무한반복 4 무한반복 5 무한반복 6 무한반복 7 무한반복 8 무한반복 9 무한반복 10 무한반복 11 무한반복 12 무한반복 13 무한반복 14 무한반복 15 무한반복 16 무한반복 17 무한반복 18 무한반복 19 무한반복 20 무한반복 21 무한반복 22 무한반복 23 무한반복 24 무한반복 25 무한반복 26 무한반복 27 무한반복 28 무한반복 29 무한반복 30 무한반복 31 무한반복 32 무한반복 33 무한반복 34 무한반복 35 무한반복 36 무한반복 37 무한반복 38 무한반복 39 무한반복 40 무한반복 41 무한반복 42 무한반복 43 무한반복 44 무한반복 45 무한반복 46 무한반복 47 무한반복 48 무한반복 49 무한반복 50 무한반복 51 무한반복 52 무한반복 53 무한반복 54 무한반복 55 무한반복 56 무한반복 57 무한반복 58 무한반복 59 무한반복 60 무한반복 61 무한반복 62 무한반복 63 무한반복 64 무한반복 65 무한반복 66 무한반복 67 무한반복 68 무한반복 69 무한반복 70 무한반복 71 무한반복 72 무한반복 73 무한반복 74 무한반복 75 무한반복 76 무한반복 77 무한반복 78 무한반복 79 무한반복 80 무한반복 81 무한반복 82 무한반복 83 무한반복 84 무한반복 85 무한반복 86 무한반복 87 무한반복 88 무한반복 89 무한반복 90 무한반복 91 무한반복 92 무한반복 93 무한반복 94 무한반복 95 무한반복 96 무한반복 97 무한반복 98 무한반복 99 무한반복 100 무한반복

In [35]:
i = 1
while "":
    print(i,'무한반복', end=" ")
    if i >= 100:
        break
    i += 1

In [36]:
i = 1
while ():
    print(i,'무한반복', end=" ")
    if i >= 100:
        break
    i += 1

In [42]:
i = 1
while (0.0,):
    print(i,'while 뒤 조건은 어떤 자료형이 들어가도 됩니다', end=" ")
    if i >= 100:
        break
    i += 1

1 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 2 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 3 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 4 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 5 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 6 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 7 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 8 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 9 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 10 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 11 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 12 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 13 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 14 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 15 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 16 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 17 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 18 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 19 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 20 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 21 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 22 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 23 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 24 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 25 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 26 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 27 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 28 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 29 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 30 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 31 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 32 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 33 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 34 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 35 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 36 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 37 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 38 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 39 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 40 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 41 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 42 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 43 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 44 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 45 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 46 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 47 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 48 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 49 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 50 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 51 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 52 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 53 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 54 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 55 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 56 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 57 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 58 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 59 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 60 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 61 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 62 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 63 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 64 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 65 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 66 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 67 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 68 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 69 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 70 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 71 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 72 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 73 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 74 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 75 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 76 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 77 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 78 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 79 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 80 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 81 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 82 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 83 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 84 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 85 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 86 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 87 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 88 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 89 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 90 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 91 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 92 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 93 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 94 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 95 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 96 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 97 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 98 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 99 while 뒤 조건은 어떤 자료형이 들어가도 됩니다 100 while 뒤 조건은 어떤 자료형이 들어가도 됩니다

# 중첩 반복문
* 반복문을 2개 이상 겹쳐서 사용 하는것
* 바늘 시계의 원리와 같음
* 안쪽 반복문이 끝난 후 바깥쪽 반복문이 실행
* 초침 -> 분침 -> 시침

* 구구단 만들기 2중 중첩 for문
* 2단 -9단
* 1-9
* 2*1 =2

In [43]:

for num1 in range(2,10):
#     print(num1)
    for num2 in range(1,10):
        print(f"{num1} X {num2} = ", num1*num2)

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 =  10
2 X 6 =  12
2 X 7 =  14
2 X 8 =  16
2 X 9 =  18
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 =  12
3 X 5 =  15
3 X 6 =  18
3 X 7 =  21
3 X 8 =  24
3 X 9 =  27
4 X 1 =  4
4 X 2 =  8
4 X 3 =  12
4 X 4 =  16
4 X 5 =  20
4 X 6 =  24
4 X 7 =  28
4 X 8 =  32
4 X 9 =  36
5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
6 X 1 =  6
6 X 2 =  12
6 X 3 =  18
6 X 4 =  24
6 X 5 =  30
6 X 6 =  36
6 X 7 =  42
6 X 8 =  48
6 X 9 =  54
7 X 1 =  7
7 X 2 =  14
7 X 3 =  21
7 X 4 =  28
7 X 5 =  35
7 X 6 =  42
7 X 7 =  49
7 X 8 =  56
7 X 9 =  63
8 X 1 =  8
8 X 2 =  16
8 X 3 =  24
8 X 4 =  32
8 X 5 =  40
8 X 6 =  48
8 X 7 =  56
8 X 8 =  64
8 X 9 =  72
9 X 1 =  9
9 X 2 =  18
9 X 3 =  27
9 X 4 =  36
9 X 5 =  45
9 X 6 =  54
9 X 7 =  63
9 X 8 =  72
9 X 9 =  81

* 반복문 3개로 시계 만들기
* 초 : 00 -59
* 분 : 00 -59
* 시 : 00 -23
* import time, time.sleep(0.2)

In [36]:
import time

In [37]:
for si in range(0,24):
#     print(si, end=" ")
    for bun in range(0,60):
#         print(cho, bun, end=" ")
        for cho in range(0,60):
            print(f"{si:02d}:{bun:02}:{cho:02d}", end="\r")
            time.sleep(0.2)

KeyboardInterrupt:

## 중첩반복문을 이용해서 다중 리스트 출력하기

In [45]:
l1 = []

In [46]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [57]:
l1.append(list(range(1,6)))

In [58]:
l1

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5]]

In [59]:
print(l1[0][0])
print(l1[0][1])
print(l1[0][2])
print(l1[0][3])
print(l1[0][4])

1
2
3
4
5

In [60]:
for item1 in l1:
#     print(item1)
    for item2 in item1:
        print(item2, end=" ") # 인덱스가 몇개가 되었든 모두 해체할 수 있다.

1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

L1 리스트에 있는 모든 요소를 L2리스트에 모두 넣으세요

In [61]:
L2 = []
for item1 in l1:
    print(item1)
    for item2 in item1:
        L2.append(item2)
print(L2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [74]:
print(item2, type(item2))

5 <class 'int'>

* 리스트에 동물 이름이 저장되어 있다. 여기서 동물 이름의 첫글자만 출력하세요.
* animal = ['dog','cat','parrot']

반복문 만들기
요소 자르기
앞글자 한개씩 출력

In [62]:
animal = ['dog','cat','parrot']

In [63]:
print(animal)

['dog', 'cat', 'parrot']

In [80]:
animal.split("")

AttributeError: 'list' object has no attribute 'split'

In [64]:
for spel in animal:
    print(spel[0])

d
c
p

리스트에서 세글자 이상의 문자를 화면에 출력하라
* L2 = ["l","study","paython","language""!"]
* study
* python
* language

In [65]:
L2 = ["l","study","paython","language","!"]

In [66]:
L2

['l', 'study', 'paython', 'language', '!']

In [67]:
for spel2 in L2:
    if len(spel2) >= 3:
        print(spel2)

study
paython
language

In [87]:
# 리스트 만들기
# 요소를 하나씩 거내기
# 3이상인 글자 길이를 재기
# 출력하기

리스트에 저장된 데이터를 아래와 같이 출력하세요.<br>
101호<br>
102호<br>
201호<br>
202호<br>
202호<br>
301호<br>
302호<br>

In [68]:
apart = [[101,102], [201,202], [301,302]]

In [69]:
apart

[[101, 102], [201, 202], [301, 302]]

In [95]:
for floor in apart:
#     print(ho1)
    for room in floor:
        print(f'{room} 호')

101 호
102 호
201 호
202 호
301 호
302 호

301호<br>
302호<br>
201호<br>
202호<br>
101호<br>
102호<br>

In [98]:
for floor in apart[::-1]:
#     print(ho1)
    for room in floor:
        print(f'{room} 호')

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 층 있는 바깥 리스트의 순서를 역순 정렬

In [100]:
for floor in reversed(apart):
    for room in floor:
        print(room, "호")

301 호
302 호
201 호
202 호
101 호
102 호