# 딕셔너리 사용 연습문제 30개

1. **빈 딕셔너리 `empty_dict`를 생성하고 출력하세요.**

In [3]:
empty_dic = {}
print(empty_dic)

{}

In [2]:
empty_dic = dict()
print(empty_dic)

{}

2. **다음과 같은 딕셔너리를 생성하고 출력하세요.**  
   ```python
   person = {"name": "Alice", "age": 25, "city": "Seoul"}
 
   ```

In [72]:
person = {"name": "Alice", "age": 25, "city": "Seoul"}
print('person =',person)

person = {'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [5]:
person = dict(name="Alice", age="25",city="Seoul")
person

{'name': 'Alice', 'age': '25', 'city': 'Seoul'}

In [6]:
person = dict([("name","Alice"),("age",25),("city","Seoul")])
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

In [14]:
person = dict(zip(["name","age","city"],["Alice",25,"Seoul"]))
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul'}

3. **딕셔너리 `person`에서 `"name"` 키의 값을 출력하세요.**  
```python
Alice
```

In [15]:
print(person['name'])

Alice

4. **딕셔너리 `person`에서 `"age"` 키의 값을 출력하세요.**  
   ```python
   25
   ```

In [16]:
person.get('age','key 없음')

25

In [17]:
person.get('ag','key 없음')

'key 없음'

5. **딕셔너리 `person`에 `"job": "Engineer"`를 추가하고 출력하세요.**  
   ```python
   {"name": "Alice", "age": 25, "city": "Seoul", "job": "Engineer"}
   ```

In [18]:
person['job']= "Engineer"
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'Engineer'}

In [19]:
person.setdefault("job","Engineer")

'Engineer'

In [20]:
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'Engineer'}

6. **딕셔너리 `person`에서 `"city"`의 값을 `"Busan"`으로 변경하고 출력하세요.**  
   ```python
{"name": "Alice", "age": 25, "city": "Busan", "job": "Engineer"}
   
   ```

In [76]:
person['city']= "Busan"
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

In [21]:
person['city']= "Seoul"
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'Engineer'}

In [23]:
person.update(city="Busan")
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

7. **딕셔너리 `person`에서 `"age"` 키를 삭제하고 출력하세요.**  
   ```python
   {"name": "Alice", "city": "Busan", "job": "Engineer"}
   ```

In [77]:
del person['age']
print(person)

{'name': 'Alice', 'city': 'Busan', 'job': 'Engineer'}

In [24]:
person.pop('age')
person

{'name': 'Alice', 'city': 'Busan', 'job': 'Engineer'}

8. **딕셔너리 `person`의 모든 키를 출력하세요.**  
   ```python
   dict_keys(['name', 'city', 'job'])
   ```

In [78]:
person.keys()

dict_keys(['name', 'city', 'job'])

In [25]:
for i in person:
    print(i)

name
city
job

9. **딕셔너리 `person`의 모든 값(value)을 출력하세요.**  
   ```python
   dict_values(['Alice', 'Busan', 'Engineer'])
   ```

In [79]:
person.values()

dict_values(['Alice', 'Busan', 'Engineer'])

In [26]:
for i in person:
    print(person[i])

Alice
Busan
Engineer

10. **딕셔너리 `person`의 모든 키-값 쌍을 출력하세요.**  
    ```python
    dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])
    ```

In [80]:
person.items()

dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])

In [34]:
dict_items = []
for i in person:
    dict_items.append((i,person[i]))
dict_items

[('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')]

11. **`"email"` 키가 딕셔너리 `person`에 존재하는지 확인하세요.**  
    ```python
 False
    ```

In [81]:
"email" in person

False

12.**`person`에서 `"job"`을 제거하고 출력하세요.**  
    
```python
"Engineer",
{'name': 'Alice', 'city': 'Busan'}
```

In [82]:
person.pop('job')

'Engineer'

In [83]:
print(person)

{'name': 'Alice', 'city': 'Busan'}

13. **`person` 딕셔너리의 모든 키-값 쌍을 초기화하고 출력하세요.**  
    ```python
    {}
    ```

In [84]:
del person['name']
del person['city']
print(person)

{}

In [35]:
person.clear()
person

{}

14. **중첩 딕셔너리를 student 변수에 생성하고 출력하세요.**  
```python
{"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
```

In [50]:
student = {"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}
}
print(student)

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80}}

15.**student에서 "science" 점수를 출력하세요.**  
```python
90
```

In [51]:
student['grades']['science']

90

16. **`student`의 `"grades"`에 `"english": 95`를 추가하고 출력하세요.**  
    ```python
    {'math': 85, 'science': 90, 'history': 80, 'english': 95}
    ```

In [52]:
student['grades']['english']= 95
print(student['grades'])

{'math': 85, 'science': 90, 'history': 80, 'english': 95}

17. **`student`의 `"math"` 점수를 88로 변경하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'history': 80, 'english': 95}
    ```

In [53]:
student['grades']['math']= 88
print(student['grades'])

{'math': 88, 'science': 90, 'history': 80, 'english': 95}

18. **`student`에서 `"history"` 점수를 삭제하고 출력하세요.**  
    ```python
    {'math': 88, 'science': 90, 'english': 95}
    ```

In [54]:
del student['grades']['history']
print(student['grades'])

{'math': 88, 'science': 90, 'english': 95}

19. **딕셔너리 `student`에서 setdefault를 이용하여 `"total"`이란 키를 만들고 math, science, english의 합계를 입력하세요. 단, 합계를 구할 때 값을 수동입력 하지 말고 딕셔너리에서 추출해서 더하도록 하세요.**  
    ```python
    {'name': 'Bob',
    'grades': {'math': 88, 'science': 90, 'english': 95},
    'total': 270}
    ```

In [57]:
student.setdefault('total',sum(student['grades'].values()))

273

In [58]:
print(student)

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}, 'total': 273}

20. **딕셔너리 `student`에서 update를 이용하여 'english' 는 100, 'history'는 80를 입력하세요.**  
```python
 {'name': 'Bob',
 'grades': {'math': 85, 'science': 90, 'english': 100, 'history': 80},
 'total': 270}
```

In [59]:
student['grades'].update(english=100, history=80)
print(student)

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80}, 'total': 273}

In [49]:
student.update(english=99, history=81)
print(student)

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80}, 'total': 273, 'english': 99, 'history': 81}

In [60]:
y = [2,2,2,2]
y

[2, 2, 2, 2]

In [62]:
y = {2:3,2:3}
y

{2: 3}

21.**courses라는 변수에 dict() 함수를 사용하여 다음과 같은 딕셔너리를 생성하세요.**
```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}
```

In [202]:
scoures = {'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

In [63]:
courses = dict(programming = dict(python=50,java=30, Cpp=20),design = dict(Photoshop=25,Illustrator=15))

In [65]:
print(courses)

{'programming': {'python': 50, 'java': 30, 'Cpp': 20}, 'design': {'Photoshop': 25, 'Illustrator': 15}}

22. **"python"의 수강생 수를 출력하세요.**  
```python
50
```

In [66]:
print(courses['programming']['python'])

50

23. **딕셔너리 `courses`에서 `"Cpp"` 수강생 수를 25로 변경하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25}
    ```

In [205]:
scoures['programming'].update(Cpp=25)
print(scoures['programming'])

{'python': 50, 'java': 30, 'Cpp': 25}

In [70]:
courses['programming']['Cpp']= 25

print(courses['programming'])

{'python': 50, 'java': 30, 'Cpp': 25}

24. **딕셔너리 `courses`에서 `"Photoshop"` 수강생 수를 삭제하고 출력하세요.**  
    ```python
{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Illustrator': 15}}
    ```

In [206]:
courses['design']['Photoshop']

25

In [71]:
del courses['design']['Photoshop']
print(courses)

{'programming': {'python': 50, 'java': 30, 'Cpp': 25}, 'design': {'Illustrator': 15}}

25. **딕셔너리 `courses`에서 `"JavaScript": 40`을 `"programming"` 항목에 추가하고 출력하세요.**  
    ```python
    {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}
    ```

In [208]:
courses['programming']['JavaScript']=40
print(courses)

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}, 'design': {'Illustrator': 15}}

In [73]:
courses['programming'].update(JavaScript=40)
print(courses)

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}, 'design': {'Illustrator': 15}}

In [74]:
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40},
 'design': {'Illustrator': 15}}

In [211]:
courses['programming'].setdefault('JavaScript',40)
print(courses)

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}, 'design': {'Illustrator': 15}}

26. **딕셔너리 `courses`의 모든 과목명을 출력하세요.**  
    ```python
    dict_keys(['programming', 'design'])
    ```

In [84]:
subject_name = []
for key in courses:
    print(key)
    for subject in courses[key].keys():
        subject_name.append(subject)
print(subject_name)

programming
design
['python', 'java', 'Cpp', 'JavaScript', 'Illustrator']

In [79]:
 list(courses['programming'].keys) + list(courses['design'].keys)

TypeError: 'builtin_function_or_method' object is not iterable

27. **딕셔너리 `courses`에서 `"design"` 과목의 모든 정보를 출력하세요.**  
    ```python
    {'Illustrator': 15}
    ```

In [197]:
scoures["design"]

{'Illustrator': 15}

28. **딕셔너리 `courses`에서 `"design"` 항목을 삭제하고 전체 딕셔너리를 출력하세요.**  
    ```python
    {'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}}
    ```

In [92]:
print(courses)

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 40}}

In [91]:
del courses['design']
print(courses)

KeyError: 'design'

29. **딕셔너리 `courses`에서 `"programming"` 항목이 존재하는지 확인하세요.**  
    ```python
    True
    ```

In [218]:
'programming' in scoures

True

In [85]:
"Cpp" in courses['programming']

True

In [86]:
for key in courses:
    if "Cpp" in key:
        print(True)
    elif "Cpp" in courses[key]:
        print(True)

True

30. **딕셔너리 `courses`에서 `"design"` 항목을 출력하고 `"design"` 이 없다면 design key 없음 이라고 출력하도록 하세요.** 
```python
design key 없음
```

In [93]:
courses.get("design","design key 없음")

'design key 없음'

In [227]:
if 'design' in scoures == False:
    print('design key 없음')

In [226]:
'design' in scoures

False