In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import koreanize_matplotlib
import seaborn as sbn

In [3]:
data = pd.read_csv("./data/fraud.csv")
data.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 22 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  object
 1   cc_num                 int64
 2   merchant               object
 3   category               object
 4   amt                    float64
 5   first                  object
 6   last                   object
 7   gender                 object
 8   street                 object
 9   city                   object
 10  state                  object
 11  zip                    int64
 12  lat                    float64
 13  long                   float64
 14  city_pop               int64
 15  job                    object
 16  dob                    object
 17  trans_num              object
 18  unix_time              int64
 19  merch_lat              float64
 20  merch_long             float64
 21  is_fraud               int64
dtypes: float64(5), int64(5), object(12)
memory usage: 310.9+ MB

In [6]:
round(data.describe())

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.852394e+06,1852394.0,1852394.0,1852394.0,1852394.0,1852394.0,1.852394e+06,1852394.0,1852394.0,1852394.0
mean,4.173860e+17,70.0,48813.0,39.0,-90.0,88644.0,1.358674e+09,39.0,-90.0,0.0
std,1.309115e+18,159.0,26882.0,5.0,14.0,301488.0,1.819508e+07,5.0,14.0,0.0
min,6.041621e+10,1.0,1257.0,20.0,-166.0,23.0,1.325376e+09,19.0,-167.0,0.0
25%,1.800429e+14,10.0,26237.0,35.0,-97.0,741.0,1.343017e+09,35.0,-97.0,0.0
50%,3.521417e+15,47.0,48174.0,39.0,-87.0,2443.0,1.357089e+09,39.0,-87.0,0.0
75%,4.642255e+15,83.0,72042.0,42.0,-80.0,20328.0,1.374581e+09,42.0,-80.0,0.0
max,4.992346e+18,28949.0,99921.0,67.0,-68.0,2906700.0,1.388534e+09,68.0,-67.0,1.0

In [10]:
from ydata_profiling import ProfileReport

In [11]:
profile = ProfileReport(data, title="카드데이터 분석")

In [13]:
profile.to_file("fraud_EDA.html")

Summarize dataset:   0%|    | 0/27 [00:00<?, ?it/s, Describe variable: category]
Summarize dataset:  41%|▍| 11/27 [00:37<00:34,  2.13s/it, Describe variable: cit
Summarize dataset:  44%|▍| 12/27 [00:37<00:31,  2.13s/it, Describe variable: job
  9%|████                                        | 2/22 [00:34<04:41, 14.08s/it]
Summarize dataset:  48%|▍| 13/27 [00:38<00:21,  1.55s/it, Describe variable: dob
Summarize dataset:  59%|▌| 16/27 [00:46<00:23,  2.15s/it, Describe variable: mer
Summarize dataset:  63%|▋| 17/27 [00:50<00:24,  2.49s/it, Describe variable: mer
Summarize dataset:  81%|▊| 22/27 [01:16<00:18,  3.76s/it, Describe variable: is_
100%|███████████████████████████████████████████| 22/22 [01:12<00:00,  3.31s/it]
Summarize dataset: 100%|███████████| 112/112 [02:50<00:00,  1.52s/it, Completed]
Generate report structure: 100%|██████████████████| 1/1 [00:14<00:00, 14.67s/it]
Render HTML: 100%|████████████████████████████████| 1/1 [00:03<00:00,  3.08s/it]
Export report to file: 100%|██████████████████████| 1/1 [00:00<00:00, 40.78it/s]

In [27]:
data['category'].value_counts()

category
gas_transport     188029
grocery_pos       176191
home              175460
shopping_pos      166463
kids_pets         161727
shopping_net      139322
entertainment     134118
food_dining       130729
personal_care     130085
health_fitness    122553
misc_pos          114229
misc_net           90654
grocery_net        64878
travel             57956
Name: count, dtype: int64

In [ ]:
data['category'].unipue()

* 상관관계 높은 것 삭제
*