In [1]:
import requests

In [2]:
import pandas as pd

In [16]:
import json

In [67]:
def unpaking(data):
    c_shops = {}
    for i in shop:
        for key, value in zip(category,i.values()):
            c_shops.setdefault(key,[]).append(value)
    return c_shops

In [32]:
servicekey = 'bmvKYhJ5bZui/zXZQuUKx+C2Ma+hmR/x/pPGfHBoB17yLKB342mU66pZd0WyvB0P28Cxj0jFB/tiXgVZlmZJHg=='
divId = 'indsSclsCd'
key = 'I21006'
payload = {'servicekey': servicekey , 'divId': divId , 'key': key, "numOfRows" : 1000, 'pageNo' : 1, 'type': 'json'}
r = requests.get('http://apis.data.go.kr/B553077/api/open/sdsc2/storeListInUpjong', params=payload)
data = r.json()
print(r.url)
print(r.status_code)
category = data['header']['columns']

http://apis.data.go.kr/B553077/api/open/sdsc2/storeListInUpjong?servicekey=bmvKYhJ5bZui%2FzXZQuUKx%2BC2Ma%2BhmR%2Fx%2FpPGfHBoB17yLKB342mU66pZd0WyvB0P28Cxj0jFB%2FtiXgVZlmZJHg%3D%3D&divId=indsSclsCd&key=I21006&numOfRows=1000&pageNo=1&type=json
200
2

In [ ]:
len(data['body']['items'])

In [48]:
data['body'].keys()

dict_keys(['items', 'numOfRows', 'pageNo', 'totalCount'])

In [49]:
data['body']['totalCount']

42095

In [40]:
len(data['body']['items'])

1000

In [43]:
data['header']['columns']

['상가업소번호',
 '상호명',
 '지점명',
 '상권업종대분류코드',
 '상권업종대분류명',
 '상권업종중분류코드',
 '상권업종중분류명',
 '상권업종소분류코드',
 '상권업종소분류명',
 '표준산업분류코드',
 '표준산업분류명',
 '시도코드',
 '시도명',
 '시군구코드',
 '시군구명',
 '행정동코드',
 '행정동명',
 '법정동코드',
 '법정동명',
 'PNU코드',
 '대지구분코드',
 '대지구분명',
 '지번본번지',
 '지번부번지',
 '지번주소',
 '도로명코드',
 '도로명',
 '건물본번지',
 '건물부번지',
 '건물관리번호',
 '건물명',
 '도로명주소',
 '구우편번호',
 '신우편번호',
 '동정보',
 '층정보',
 '호정보',
 '경도',
 '위도']

In [41]:
data['body']['items'][0]

{'bizesId': 'MA010120220800445252',
 'bizesNm': '가마로닭강정',
 'brchNm': '',
 'indsLclsCd': 'I2',
 'indsLclsNm': '음식',
 'indsMclsCd': 'I210',
 'indsMclsNm': '기타 간이',
 'indsSclsCd': 'I21006',
 'indsSclsNm': '치킨',
 'ksicCd': 'I56193',
 'ksicNm': '치킨 전문점',
 'ctprvnCd': '11',
 'ctprvnNm': '서울특별시',
 'signguCd': '11590',
 'signguNm': '동작구',
 'adongCd': '11590605',
 'adongNm': '흑석동',
 'ldongCd': '1159010500',
 'ldongNm': '흑석동',
 'lnoCd': '1159010500102250015',
 'plotSctCd': '1',
 'plotSctNm': '대지',
 'lnoMnno': 225,
 'lnoSlno': 15,
 'lnoAdr': '서울특별시 동작구 흑석동 225-15',
 'rdnmCd': '115903119006',
 'rdnm': '서울특별시 동작구 서달로',
 'bldMnno': 151,
 'bldSlno': '',
 'bldMngNo': '1159010500102240001017670',
 'bldNm': '제',
 'rdnmAdr': '서울특별시 동작구 서달로 151',
 'oldZipcd': '156861',
 'newZipcd': '06973',
 'dongNo': '',
 'flrNo': '1',
 'hoNo': '',
 'lon': 126.961534642074,
 'lat': 37.5069754179478}

In [46]:
c_shops = {}
category = data['header']['columns']
shop = data['body']['items']
for i in shop:
    for key, value in zip(category,i.values()):
        c_shops.setdefault(key,[]).append(value)
print(len(c_shops['상가업소번호']))

1000

In [ ]:
result_c_shop.append(unpaking(data))

In [ ]:
result_c_shop = []
page = 1
for :
    servicekey = 'bmvKYhJ5bZui/zXZQuUKx+C2Ma+hmR/x/pPGfHBoB17yLKB342mU66pZd0WyvB0P28Cxj0jFB/tiXgVZlmZJHg=='
    divId = 'indsSclsCd'
    key = 'I21006'
    payload = {'servicekey': servicekey , 'divId': divId , 'key': key, "numOfRows" : 1000, 'pageNo' : page, 'type': 'json'}
    r = requests.get('http://apis.data.go.kr/B553077/api/open/sdsc2/storeListInUpjong', params=payload)
    data = r.json()
    print(r.url, end ="\r")
    print(r.status_code, end ="\r")
    
    if page < 21 :
        
        page += 1
    else : 
        break

In [64]:
result = unpaking(data)
result = pd.DataFrame(result)
result

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220800445252,가마로닭강정,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1159010500102240001017670,제,서울특별시 동작구 서달로 151,156861,06973,,1,,126.961535,37.506975
1,MA010120220800445378,수원왕갈비통닭,보라매점,I2,음식,I210,기타 간이,I21006,치킨,I56213,...,1159010800104150005004103,,서울특별시 동작구 여의대방로24가길 12,156811,07055,,1,,126.921008,37.498774
2,MA010120220800430361,페리카나,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1159010700102130007006364,,서울특별시 동작구 사당로 168,156879,07030,,,,126.967572,37.486813
3,MA010120220800445715,치킨89,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1159010900103460008001825,노블레스빌,서울특별시 동작구 보라매로 98-5,156847,07053,,,,126.928484,37.497932
4,MA010120220800439275,또바기치킨,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1156013200103470294013808,,서울특별시 영등포구 가마산로 439,150848,07382,,,,126.905292,37.505322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,MA010120220800526797,페리카나,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,4155025026100630014014599,,경기도 안성시 공도읍 고무다리길 10-1,456825,17562,,,,127.169648,36.998410
996,MA010120220800533653,비비큐,석수점,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,4117110200103040023012812,,경기도 안양시 만안구 석천로 164-1,430806,13969,,1,,126.907387,37.411582
997,MA010120220800547453,푸드모아,,I2,음식,I210,기타 간이,I21006,치킨,M71531,...,1150010500100000000000005,보타닉파크타워,서울특별시 강서구 마곡중앙6로 11,157805,07801,,,,126.828654,37.560872
998,MA010120220800526994,치킨인류,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,4150025330106790003000001,,경기도 이천시 부발읍 경충대로2050번길 15-46,467866,17332,,1,,127.493131,37.250713
999,MA010120220800527119,네네치킨밀양삼문점,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,4827010400107290004000001,,경상남도 밀양시 미리벌중앙로 85,627150,50434,,1,,128.747223,35.485028

In [80]:
result_c_shop = []
page = 1
while True:
    servicekey = 'bmvKYhJ5bZui/zXZQuUKx+C2Ma+hmR/x/pPGfHBoB17yLKB342mU66pZd0WyvB0P28Cxj0jFB/tiXgVZlmZJHg=='
    divId = 'indsSclsCd'
    key = 'I21006'
    payload = {'servicekey': servicekey , 'divId': divId , 'key': key, "numOfRows" : 1000, 'pageNo' : page, 'type': 'json'}
    r = requests.get('http://apis.data.go.kr/B553077/api/open/sdsc2/storeListInUpjong', params=payload)
    data = r.json()
    category = data['header']['columns']
    shop = data['body']['items']
    df = unpaking(data)
    result = pd.DataFrame(df)
    result_c_shop.append(result)
    totalCount = data['body']['totalCount']
    print(r.url, end ="\r")
    print(r.status_code, end ="\r")
    if page*1000 < totalCount:
        page += 1
    else : 
        break 
final_result = pd.concat(result_c_shop)
final_result = final_result.reset_index(drop=True)
final_result.to_csv("공공데이터_상권정보_202504.csv",encoding="utf-8-sig",index=False)
final_result

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220800445252,가마로닭강정,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1159010500102240001017670,제,서울특별시 동작구 서달로 151,156861,06973,,1,,126.961535,37.506975
1,MA010120220800445378,수원왕갈비통닭,보라매점,I2,음식,I210,기타 간이,I21006,치킨,I56213,...,1159010800104150005004103,,서울특별시 동작구 여의대방로24가길 12,156811,07055,,1,,126.921008,37.498774
2,MA010120220800430361,페리카나,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1159010700102130007006364,,서울특별시 동작구 사당로 168,156879,07030,,,,126.967572,37.486813
3,MA010120220800445715,치킨89,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1159010900103460008001825,노블레스빌,서울특별시 동작구 보라매로 98-5,156847,07053,,,,126.928484,37.497932
4,MA010120220800439275,또바기치킨,,I2,음식,I210,기타 간이,I21006,치킨,I56193,...,1156013200103470294013808,,서울특별시 영등포구 가마산로 439,150848,07382,,,,126.905292,37.505322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42090,MA0106202410A0530080,다사랑치킨,에코시티점,I2,음식,I210,기타 간이,I21006,치킨,I56111,...,4511312200113300014000001,,전북특별자치도 전주시 덕진구 세병2길 32-18,561302,55149,,1,,127.125791,35.872366
42091,MA0106202410A0842347,푸라닭이천,마장점,I2,음식,I210,기타 간이,I21006,치킨,I56111,...,4150034021102830015036863,,경기도 이천시 마장면 오천로 33,467814,17387,,,,127.352308,37.253954
42092,MA0106202410A0741260,보드람치킨,쌍용점,I2,음식,I210,기타 간이,I21006,치킨,I56111,...,4413310700108230000055345,,충청남도 천안시 서북구 쌍용대로 119,331949,31149,,1,,127.132527,36.808137
42093,MA0106202410A2090834,찐이야숯불치킨,태전점,I2,음식,I210,기타 간이,I21006,치킨,I56111,...,2723012600102540030045203,,대구광역시 북구 태전로 53,702863,41456,,1,,128.543405,35.925012
42094,MA0106202410A1372857,비에이치치킨,여의도점,I2,음식,I210,기타 간이,I21006,치킨,I56111,...,1156011000100440013031502,충무빌딩,서울특별시 영등포구 여의대방로69길 7,150890,07333,,,,126.931257,37.519765

In [71]:
final_result = pd.concat(result_c_shop)
final_result = final_result.reset_index(drop=True)
final_result.to_csv("공공데이터_상권정보_202504.csv",encoding="utf-8",index=False)
final_result

In [ ]:

industry_chiken =[]
industry_chiken =[]
for industry in data :
result_c_shop = []
page = 1
while True:
    servicekey = 'bmvKYhJ5bZui/zXZQuUKx+C2Ma+hmR/x/pPGfHBoB17yLKB342mU66pZd0WyvB0P28Cxj0jFB/tiXgVZlmZJHg=='
    divId = 'indsSclsCd'
    key = 'I21006'
    payload = {'servicekey': servicekey , 'divId': divId , 'key': key, "numOfRows" : 1000, 'pageNo' : page, 'type': 'json'}
    r = requests.get('http://apis.data.go.kr/B553077/api/open/sdsc2/storeListInUpjong', params=payload)
    data = r.json()
    category = data['header']['columns']
    shop = data['body']['items']
    result = pd.DataFrame(unpaking(data))
    result_c_shop.append(result)
    totalCount = data['body']['totalCount']
    print(r.url, end ="\r")
    print(r.status_code, end ="\r")
    if page*1000 < totalCount:
        page += 1
    else : 
        break 
print(len(result_c_shop) )

In [74]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [79]:
ori_data = pd.read_exel("./data/소상공인",engine="openpyxl",header=[1])
ori_data

AttributeError: module 'pandas' has no attribute 'read_exel'

In [ ]:
for code in ori_data['소분류코드']